{% extends "base.html" %}
{% block js %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newprofile.css') }}" type="text/css" />
{% endblock %}
{% block main %}
    <h1>Add Profile</h1>
    <div class="container">
    <form method = "POST" action="{{ url_for('profile') }}" enctype="multipart/form-data"> 
     <div class="fom-group">
     {{ form.firstname.label }}
     {{ form.firstname }}
     </div>
     <div class="fom-group">
     {{ form.lastname.label }}
     {{ form.lastname }}
     </div>
     <div class="fom-group">
     {{ form.gender.label }}
     {{ form.gender }}
     </div>
     <div class="fom-group">
     {{ form.email.label }}
     {{ form.email }}
     </div>
     <div class="fom-group">
     {{ form.location.label }}
     {{ form.location }}
     </div>
     <div class="fom-group">
     {{ form.biography.label }}
     {{ form.biography }}
     </div>
     <div class="containers">
        {{form.fileupload.label(class="block")}}
        {{form.fileupload}}
        </div>
     {{ form.csrf_token }} 
     <button type="submit" class="btn btnprimary">Submit</button>
     </form>
    </div>
{% endblock %} 