{% extends "base.html" %}

{% block main%}
{% include "flash_messages.html"%}

<div class="profiles-container">
    <h1 class="title">Profiles</h1>
    {% for profile in profiles %}
    <div class="row border-style center profile">
        <image src="{{ url_for('static', filename='uploads/'+profile['pic']) }}" class="pic">
        <div class="col pro-data">
            <span class="">{{ profile['f_name'] }}</span>
            <span class="">{{ profile['l_name'] }}</span>
            <span class="blk">{{ profile['gender'] }}</span>
            <span class="blk">{{ profile['location'] }}</span>
        </div>
        <a href="{{ url_for('specific_profile', userid=profile['id']) }}">View profile</a>
    </div>
    {% endfor %}
</div>
{% endblock%}